.welcome {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  padding: 100px;
  padding-top: 40px;
}

.App-logo {
  height: 15vmin;
  margin-left: 20px;
}

.dictionary {
  background-color: rgba(121, 184, 193, 0.728);

  text-align: center;
  font-weight: 1000;
  letter-spacing: 3px;
  line-height: 50px;
  font-size: x-large;
  margin: 40px;
}
.results {
  color: #282c34;
  line-height: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;

  letter-spacing: normal;
  display: block;
  padding: 30px;
  background-color: #c2cdcf81;
  margin: 20px;
  border-radius: 10px;
}
strong {
  color: rgba(246, 207, 207, 0.694);
  display: flex;
  padding: 20px;
  padding-bottom: 0px;
  margin-left: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.synonyms {
  color: rgba(10, 46, 82, 0.534);
  font-size: small;
  display: block;
  padding: 20px;
  line-height: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;

  background-color: #e6e6e675;
  margin: 20px;
  border-radius: 10px;
}
.example {
  color: #a40b08aa;
  font-size: small;
  display: block;
  padding: 20px;
  line-height: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #e6e6e675;
  margin: 20px;
  border-radius: 10px;
}
.phonetics {
  color: rgba(255, 255, 255, 0.724);

  font-size: small;
  display: block;

  line-height: 40px;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #e6e6e675;
  margin: 20px;
  border-radius: 10px;
}

img {
  margin-top: 10px;
  max-block-size: 350px;
  align-self: center;
  margin: 20px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .App {
    padding: 0px;
    margin: 0px;
  }
  img {
    max-block-size: 200px;
    margin: 0px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
p {
  color: rgba(246, 207, 207, 0.694);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
}
a {
  color: rgba(255, 255, 255, 0.67);
}
